In [511]:
# importing libraries
import numpy as np
import pandas as pd

In [512]:
# setting the maximum row display to 500
pd.set_option('display.max_rows', 500)

In [513]:
# reading the data frame
df1 = pd.read_csv('data_sets/january-2017.csv')
df2 = pd.read_csv('data_sets/february-2017.csv') 
df3 = pd.read_csv('data_sets/march-2017.csv')
df4 = pd.read_csv('data_sets/april-2017.csv') 
df5 = pd.read_csv('data_sets/may-2017.csv') 
df6 = pd.read_csv('data_sets/june-2017.csv') 
df7 = pd.read_csv('data_sets/july-2017.csv') 
df8 = pd.read_csv('data_sets/august-2017.csv') 
df9 = pd.read_csv('data_sets/september-2017.csv') 
df10 = pd.read_csv('data_sets/october-2017.csv') 
df11 = pd.read_csv('data_sets/november-2017.csv') 
df12 = pd.read_csv('data_sets/december-2017.csv')

In [514]:
# conbine the dataframe into one year
df = pd.concat([df1,df2,df3,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [515]:
# Dropping the columns that has more more than 10% of the data missing
for col in df:
    if df[col].isnull().sum() > 933:
        df.drop(col, axis=1, inplace=True)

In [516]:
# Dropping the columns with missing data (only take the sensors with temperature,humidity, pressure, pm1, pm25, and pm 10 )
# create a list of the first 3 digits of the col names
col_front = []
for col in df:
    col_front.append(col[:3])

In [517]:
# see which one has missing cols
pd.value_counts(col_front) < 6
pd.value_counts(col_front).index.tolist()
# create a list of all the sensors with missing columns
to_del = ['196','183', '176','180','184','177','185','181' '201','179','172','147']

In [518]:
# dropping the to_del from df
for col in df:
    if col[:3] in to_del:
        df.drop(col,axis=1,inplace=True)

In [519]:
# see which one is the remaining cols
pd.value_counts(col_front) == 6
pd.value_counts(col_front).index.tolist()
# create a list of the remaining cols
to_add = ['215','226',
 '171',
 '223',
 '208',
 '189',
 '220',
 '170',
 '169',
 '221',
 '219',
 '222',
 '225',
 '202',
 '173',
 '263',
 '212',
 '214',
 '210',
 '192',
 '209',
 '194',
 '218',
 '228',
 '204']

In [520]:
#combine the location to the dataframe
#load location data
locations =pd.read_csv('data_sets/sensor_locations.csv')

In [521]:
# setting the id to index and make it the columns
locations = locations.set_index(keys='id').transpose()

In [522]:
locations = pd.read_csv('data_sets/sensor_locations.csv')

In [523]:
locations = locations.set_index('id')

In [526]:
# creating a dictionary with all the sensors and times, change the columns to be the same, add latitude & long titude
d = {}
for num in to_add:
    d[f"sensor{num}"] = df[['UTC time',f'{num}_temperature',f'{num}_humidity',f'{num}_pressure',f'{num}_pm1',f'{num}_pm25',f'{num}_pm10']]
    d[f'sensor{num}'].columns = ['UTC time', 'temperature', 'humidity', 'pressure', 'pm1','pm25', 'pm10']
    d[f'sensor{num}']['latitude'] = locations.loc[int(num),'latitude']
    d[f'sensor{num}']['longitude'] = locations.loc[int(num),'longitude']

<ipython-input-526-07cc0f89fa8c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d[f'sensor{num}']['latitude'] = locations.loc[int(num),'latitude']
<ipython-input-526-07cc0f89fa8c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d[f'sensor{num}']['longitude'] = locations.loc[int(num),'longitude']

In [528]:
# adding the df together to create one long df
sensor_d_list = []
for num in to_add:
    sensor_d_list.append(d[f'sensor{num}'])
df_r = pd.concat(sensor_d_list)

In [532]:
df_r.isnull().sum()

UTC time          0
temperature    5102
humidity       5144
pressure       5343
pm1            4738
pm25           4723
pm10           4721
latitude          0
longitude         0
dtype: int64

In [533]:
# fill in the remaining columns with average & create dummies variables for lat and long, convert UTC to date time
df_r

,UTC time,temperature,humidity,pressure,pm1,pm25,pm10,latitude,longitude
0,2017-01-01T00:00:00,2.0,28.0,102212.0,89.0,98.0,156.0,50.096693,19.993572
1,2017-01-01T01:00:00,1.0,29.0,102160.0,91.0,100.0,161.0,50.096693,19.993572
2,2017-01-01T02:00:00,1.0,29.0,102085.0,101.0,113.0,181.0,50.096693,19.993572
3,2017-01-01T03:00:00,1.0,28.0,102038.0,100.0,112.0,178.0,50.096693,19.993572
4,2017-01-01T04:00:00,1.0,27.0,101983.0,73.0,78.0,129.0,50.096693,19.993572
...,...,...,...,...,...,...,...,...,...
572,2017-12-24T20:00:00,7.0,85.0,101728.0,9.0,10.0,18.0,50.062006,19.940984
573,2017-12-24T21:00:00,6.0,85.0,101769.0,9.0,10.0,17.0,50.062006,19.940984
574,2017-12-24T22:00:00,6.0,83.0,101777.0,7.0,8.0,14.0,50.062006,19.940984
575,2017-12-24T23:00:00,6.0,85.0,101778.0,7.0,8.0,14.0,50.062006,19.940984
576,2017-12-25T00:00:00,6.0,85.0,101778.0,6.0,7.0,12.0,50.062006,19.940984